:global {
  .maincontainer {
    width: 100%;
    min-height: 100vh;
    display: flex;
    overflow: hidden;

    .rightcontainer {
      flex: 1;
      display: flex;
      // align-items: center;
      justify-content: center;
      min-height: 55vh;

      img {
        // margin-top: 10px;
        position: absolute;
        margin-top: 12%;
      }

      .websvg {
        min-width: 306px;
        max-height: 340px;
        // min-height: 28vh;
      }

      .mobilesvg {
        max-width: 377px;
        max-height: 400px;
        // min-height: 24vh;
      }

      .productsvg {
        min-width: 253px;
        max-height: 251px;
        margin-top: 15% !important;
        // min-height: 20vh;
      }

      .devopssvg {
        margin-top: 18%;
        max-width: 294px;
        max-height: 293px;
        min-height: 161px;
      }

      .fadeSlide {
        &:local {
          -webkit-animation: fade;
          animation: fadeSlide 1s ease-in-out forwards;
        }
      }
    }

    .leftcontainer {
      flex: 1;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;

      .description {
        // margin-top: 20px;
        width: 80%;
        margin-left: 70px;
        margin-top: 26%;
        font-size: 14px;
      }

      p {
        margin-top: 40px;
        //   opacity: 0;
      }
    }
  }
}

@-webkit-keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeSlide {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 882px) {
  :global {
    .maincontainer {
      flex-direction: column;

      .leftcontainer {
        // margin-top: 90px;
        text-align: center;

        .description {
          margin-left: 0px;
          margin-top: 131px;
        }
      }

      .rightcontainer {

        .websvg {
          max-height: 340px !important;
        }

        .mobilesvg {
          max-height: 350px;
        }

        .productsvg {
          max-height: 230px;
        }

        .devopssvg {
          max-width: 250px;

        }
      }
    }
  }
}