.contactwrraper {
  display: flex;

  .contactcontainer {
    display: flex;
    /* align-selbodyf: center; */
    justify-items: center;
    flex: 1;
    font-size: 14px;
    flex-direction: column;
    align-items: center;
  }

  .contactbox {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    margin: 43% 10px 0 10px;
    // margin-top: 43%;
  }

  .contactsvgcontainer {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 15%;

    // align-items: center;
    img {
      max-height: 300px;
      max-width: 400px;
      min-width: 200px;
    }
  }

  .phone {
    display: flex;
    gap: 20px;

    span {
      display: flex;
      flex-direction: column;
    }
  }

  .email {
    display: flex;
    gap: 20px;

    a {
      transform: translateY(5px);
    }
  }

  .linkedin {
    gap: 20px;
    display: flex;
    width: 100%;

    img {
      width: 30px;
      height: 30px;
    }
  }
}

@media (max-width: 806px) {
  .contactwrraper {
    flex-direction: column;
    justify-content: center;

    .contactcontainer {
      margin-top: 0%;
      min-height: 93px;

      .contactbox {
        margin-top: 30%;
      }
    }

    .contactsvgcontainer {
      justify-content: center;

      img {
        max-width: 338px;
      }
    }
  }
}

@media (max-width: 534px) {
  .contactwrraper {
    flex-direction: column;
    justify-content: center;

    .contactcontainer {
      .contactbox {
        margin-top: 55%;
      }
    }

    .contactsvgcontainer {
      justify-content: center;
      margin-top: 25%;

      img {
        max-width: 278px;
      }
    }
  }
}

@media (max-width: 308px) {
  .contactwrraper {
    .contactcontainer {
      .contactbox {
        margin-top: 75%;
      }

      // max-width: 250px;
    }
  }
}