.tabwrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .techcontent {

    // margin-top: 13%;
    .techmenu {
      width: 100%;
      height: 50px;
      z-index: 30;
      display: flex;
      align-items: center;
      justify-content: center;

      ul {
        width: 70%;
        height: 38px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        list-style-type: none;

        li {
          cursor: pointer;
          text-decoration: none;
          color: blue;
          border-radius: 10px;
          padding: 10px 15px;
          font-weight: 600;
          transition: all 0.2s ease-in-out;

          // &:active {
          //   background-color: blue
          // }

          &:hover {
            background-color: #3b74f7;
            color: white;
          }

          // :global(.active) {
          //   background-color: #3b74f7;
          //   color: white;
          // }
        }
      }
    }


    .liactive {
      background-color: #3b74f7;
      color: white !important;
    }

    .tabContactive___2NdNu {
      display: block !important;
      animation: fadeIn 2s;
    }




    .tabcontainer {
      .tabContent {
        position: absolute;
        display: none;

      }

      display: flex;
      justify-content: center;
      margin-top: 57px;
      padding: 0px 31px;
      line-height: 31px;
      position: relative;
      // min-height: 20em;
      border-radius: 24px;

      .divBar {
        align-items: center;
        justify-content: space-around;
        display: flex;
        margin-bottom: 10px;
        flex-wrap: wrap;

        p {
          width: 350px;
          font-weight: 600px;
          font-size: 14px;
          // transform: translateX(25px);
        }

        .divSpan {
          display: flex;
          justify-content: flex-end;
          flex-shrink: 50px;
          gap: 2%;
          width: 347px;

          span {
            width: 52px;
            height: 5px;
            border: 1px solid #cdcdcd;
          }
        }
      }
    }
  }
}

:global {
  .techpage {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
  }
}

:global {

  .techfade-appear,
  .techfade-enter {
    opacity: 0;
    z-index: 1;
  }

  .techfade-appear-active,
  .techfade-enter.techfade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }

  .techfade-exit {
    opacity: 1;
  }

  .techfade-exit.techfade-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
  }
}

@media (max-width: 844px) {
  .tabwrapper {
    // .techcontent {
    //   margin-top: 180px;
    // }
  }
}

@media (max-width: 758px) {
  .tabcontainer {
    .divBar {
      .divSpan {
        justify-content: flex-start !important;

        span {
          width: 30%;
          height: 5px;
          border: 1px solid #cdcdcd;
        }
      }
    }
  }
}

@media (max-width: 355px) {
  .tabwrapper {
    .techmenu {
      overflow: scroll;

      ul {
        justify-content: space-between;
      }
    }

    .tabcontainer {
      .divBar {
        .divSpan {
          width: 388vh !important;

          span {
            width: 30% !important;
          }
        }
      }
    }
  }
}