.aboutwrraper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;

    .aboutcontainer {
        flex: 1;
        display: flex;
        margin: 0 auto;
        // transform: translateY(25vh) !important;
        margin-top: 15%;
        line-height: 40px;
        width: 69%;
        justify-content: center;

        // min-height: 100vh;
        p {
            width: 88%;
            width: 88%;
            font-size: 15px;
            min-height: 6 0px;
            line-height: 2;
            // min-height: 600px;
        }
    }
}